<!DOCTYPE html>
     <html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <style>
          ul:nth-child(n) {border:2px solid #000; width:500px;;height:100%; list-style:none; padding:7px;}
          li:nth-child(n) {background-color: #f2f2f2;padding:2px;}
          .auth_btn{margin-bottom:6px;}
       </style>
    </head>
    <body>
  
        <form  action="/cards" method="post">
            <input type="number" name="mana" placeholder="mana">
            <input type="number" name="attack" placeholder="attack">
            <input type="number" name="health" placeholder="health">
            <input type="text" name="description" placeholder="description">           
            <input type="submit">
        </form>

        <div class="current_list">
            <h2>Current List</h2>
                <ul>
                        <% for (var i = 0; i < deck.length; i++){ %>
                           
                           <li>Mana: <%= deck[i].mana %></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                            <li>Attack: <%= deck[i].attack %></li>
                            <li>Health: <%= deck[i].health %></li>
                            <li class="last">Desc:<%= deck[i].description %></li>
                            <li class="auth_btn"><a href="/cards/remove/<%=cards[i].id%>">Remove</a></li>
                           
                                        <% }  %>
                                        </ul>

        </div>

        <div class="all_cards">
        
            <h2>ALL CARDS</h2>
           <ul>
            <% for (var i = 0; i < cards.length; i++){ %>
               
               <li>Mana: <%= cards[i].mana %></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                <li>Attack: <%= cards[i].attack %></li>
                <li>Health: <%= cards[i].health %></li>
                <li class="last">Desc:<%= cards[i].description %></li>
                <li class="auth_btn"><a href="/cards/add/<%=cards[i].id%>">Add</a></li>
            
                            <% }  %>
                            </ul>

                        
        </div>
        
        <!--script src="" async defer--><!--/script-->
    </body>
</html>